<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

<%- include ../partials/content.ejs %>  
  
<%- include ../partials/bottom_nav.ejs %>  



<%- include ../partials/footer.ejs %>

<!-- Main content -->

<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1><%= title %></h1>

            <% if(typeof displayName == 'string' && displayName) { %>
                <a href="/contactlist/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a contact</a>
            <% } %>

            <br>
            <table class="table table-bordered table-striped table-hover">
                <!--Header Row-->
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Number</th>
                    <th class="text-center">Email</th>
                </tr>

                <!--Repeatable Template Row-->
                <% for(let count = 0; count < ContactList.length; count++){ %>
                    <tr>
                        <% if(typeof displayName == 'string' && displayName) { %>
                            <td class="text-center"><%= ContactList[count].name %></td>
                            <td class="text-center"><%= ContactList[count].number %></td>
                            <td class="text-center"><%= ContactList[count].email %></td>
                            <td class="text-center col-1">
                                <a href="/contactlist/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/contactlist/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        <% } else { %>
                            <td class="text-center"><%= ContactList[count].name %></td>
                            <td class="text-center"><%= ContactList[count].number %></td>
                            <td class="text-center"><%= ContactList[count].email %></td>
                        <% } %>
                    </tr>


                <% } %>
            </table>
        </div> 
    </div>      
</main>
